a:hover{
    text-decoration: none;
}
@font-face {
    font-family: 'Pacifico';
    src:url('../font/Pacifico.ttf');
}
.logo{
    font-family: 'Pacifico';
}
header nav{
    padding: 10px 0px;
    text-transform: uppercase;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

}
#calltoaction .jumbotron{
    margin-bottom: 0px;
    padding: 150px 0px;
    text-align: center;
    background: #398439 url("../img/photo.jpg") center no-repeat;
    background-size: cover;
}
#calltoaction .jumbotron h1, #calltoaction .jumbotron p{
    color:#2A8AE9;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2) ;
}
#calltoaction .jumbotron .btn-feature{
    color: #FFF;
    background-color: #1D56B9;
    opacity: 0.8;
    border: 1px solid #FFF;
}
#calltoaction .jumbotron .btn-feature:hover{
    opacity: 1;
    }
#calltoaction .jumbotron .btn-feature:hover{
    color: #f1f1f1;
}

#feature1{
    background: #ecf0f1;
    color: #23527c;
    text-align: center;
    padding: 40px 0px;
}
#feature1 .glyphicon{
    font-size: 60px;
}
#feature2{
    color: #ffffff;
    background: #337ab7;
    text-align: center;
    padding: 30px 0px;
}
#feature2 p{
    color: #ffffff;
}
#feature3 {
    padding: 30px 0px;
    text-align: center;
}
#feature3 .row{
    padding: 20px 0px;
}

#feature4{
    background: #dcdcdc;
    padding: 30px 0px;
}

#feature4 input{
    width: 100%;
}
footer{
    padding: 30px 0px;
    text-align: center;
    background: #23527c;
}
footer a{
    color: #ffffff;
    text-transform: uppercase;
}
.ptaobao{
	color:#923917!important;
}
.about{
    border: white solid 1px
}

.bophan i{
    font-size: 50px
}
.content-newsbydep{
    padding-top: 40px;
}
.text-center a{
    font-weight: bold;
}
.title-tintuc img{
    width: 500px;
    height: 330px;
}
.newsdetail{
    margin-top: 100px
}
.newsdetail h3{
color: #337ab7;
font-size: 30px;
font-weight: bold;
}
.newsdetail .tomtat{
    font-weight: bold;
    font-size: 16px;
    margin-top:10px;
}
.newsdetail img{
    width: 500px;
    height: 330px;
    margin-left: 300px;
}
